@font-face {
  font-family: "Permanent Marker";
  src: url("Fonts/PermanentMarker.ttf") format("ttf2"),
    url("Fonts/PermanentMarker.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sen";
  src: url("Fonts/Sen-Regular.ttf") format("ttf2"),
    url("Fonts/Sen-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body,
html {
  font-family: "Sen";
  height: 100%;
  margin: 0;
  line-height: 180%;
  color: #222;
  text-align: center;
  overscroll-behavior: auto contain;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
.parallax1 {
  background-image: url(Imgs/about/reachstars.png);
  min-height: 90%;
}
.parallax2 {
  background-image: url(Imgs/about/explore.jpg);
  min-height: 80%;
}
.parallax3 {
  background-image: url(Imgs/about/groupwork.png);
  min-height: 60%;
}
.parallax4 {
  background-image: url(Imgs/about/Icansee.png);
  min-height: 50%;
}
.parallax5 {
  background-image: url(Imgs/about/bw4.png);
  min-height: 100%;
  align-items: center;
}
.parallax1,
.parallax2,
.parallax3,
.parallax4 {
  position: relative;
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.parallax5 {
  position: relative;
  opacity: 0.75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#4 {
  height: 600px;
}

.two-col {
  float: left;
  width: 50%;
  padding: 0 2%;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
section {
  overflow: auto;
  padding: 10px 10px;
  padding-top: 20px;
  opacity: 0.8;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: left;
}

.dark {
  overflow: auto;
  padding: 10px 10px;
  background-color: #323232;
  color: #f2f2f2;
  opacity: 0.7;
  padding-top: 20px;
  padding-left: 10rem;
  padding-right: 10rem;
  text-align: left;
}
@media (max-width: 768px) {
  .heading {
    font-size: 250%;
  }
  .heading-sm {
    font-size: 180%;
  }
  .two-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
#change-theme-btn {
  padding: 0.1em 0.25em;
  border: 0;
  color: white;
  background-color: #666;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }

  video {
    height: 100vh;
  }
}

.flowers {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pngBlue1 {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  margin-left: 15px;
}
.pngBlue2 {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  margin-left: 15px;
}

.dark p {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
}
.dark p:nth-child(2) {
  padding: 0;
  margin-bottom: 15px;
}

.dark h2 {
  margin-bottom: 15px;
}
.pngOrange {
  max-width: 100%;
  height: auto;
  position: relative;
  opacity: 0.5;
  transition: 1s ease;
  cursor: pointer;
}
img.pngOrange:hover {
  opacity: 1;
  /** default is 1, scale it to 1.5 */
  transform: scale(1.5, 1.5);
}
.pngBaby {
  max-width: 100%;
  height: auto;
  position: relative;
  opacity: 0.5;
  transition: 1s ease;
  cursor: pointer;
}
img.pngBaby:hover {
  opacity: 1;
  /** default is 1, scale it to 1.5 */
  transform: scale(1.5, 1.5);
}
.pngBlue {
  max-width: 100%;
  height: auto;
  position: relative;
  opacity: 0.5;
  transition: 1s ease;
  cursor: pointer;
}
img.pngBlue:hover {
  opacity: 1;
  /** default is 1, scale it to 1.5 */
  transform: scale(1.5, 1.5);
}
.fancy:not(.title) {
  color: #9fb7b7;
  font-size: 3rem;
  font-family: "Permanent Marker";
  text-align: left;
  margin-left: 2.2rem;
  text-shadow: 2px 2px #323232;
}

span {
  opacity: 0.8;
  transition: all 1s ease-in;
  display: inline-block;
}
span.fade {
  opacity: 1;
}

section.CV {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  section {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  section.dark {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  div.dark {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (max-width: 512px) {
  .dark p {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  p.about-me {
    font-size: 17px;
  }
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  section.dark {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  div.dark {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

div.col-12 {
  padding-bottom: 0.5rem;
  grid-template-rows: inherit;
  grid-gap: 10px;
}
