@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@font-face {
  font-family: "Permanent Marker";
  src: url("Fonts/PermanentMarker.ttf") format("ttf2"),
    url("Fonts/PermanentMarker.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sen";
  src: url("Fonts/Sen-Regular.ttf") format("ttf2"),
    url("Fonts/Sen-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  background: linear-gradient(-45deg, #d9e2df, #9fb7b7, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navbar {
  background: linear-gradient(-45deg, #d9e2df, #9fb7b7, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.koifish:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  transition: 0.7s;
}
.box {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}
.two-col > img:hover {
  width: 500px;
  height: auto;
}
@media (max-width: 576px) {
  .box {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0.3rem;
    margin-bottom: 0;
    padding: 10px;
  }
  .two-col {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0.3rem;
  }
  .box p.lead {
    font-size: 1.1em;
  }
  .box h1 {
    font-family: "Permanent Marker";
    font-size: 2em;
  }
  .welcome {
    width: 100%;
    margin: 0 auto;
  }
  .two-col > img {
    width: 200px;
    height: auto;
  }
  .jumbotron {
    font-size: 0.8em;
  }
  p.step {
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .two-col {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 0.5rem;
  }
  .box {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    padding: 10px;
  }
  .box p {
    font-size: 1.6em;
  }
  .box h1 {
    font-family: "Permanent Marker";
    font-size: 2em;
  }
  .welcome {
    width: 100%;
    margin: 0 auto;
  }
  .two-col > img {
    width: 90vw;
    height: auto;
  }
  .jumbotron p {
    font-size: 1.5em;
  }
}
