@font-face {
  font-family: "Permanent Marker";
  src: url("css/font/permanentmarker-webfont.woff2") format("woff2"),
    url("css/font/permanentmarker-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sen";
  src: url("css/font/sen-regular-webfont.woff2") format("woff2"),
    url("css/font/sen-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  background: #fff;
  height: 100%;
  width: 100%;
  font-family: "Sen", sans-serif;
  color: #222;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.card-body {
  text-align: center;
  background-color: #d5d5d5;
}
.card-text {
  text-align: left;
}
.btn-outline-secondary,
.btn-outline-light,
.btn-primary {
  background-color: #fff;
  width: 100px;
  height: 30px;
  font-family: "Sen", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  margin-right: 5px;
}
/*-----button jump---*/
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-secondary:hover {
  background-color: #56e0a9;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
a {
  color: #999;
}
a:hover {
  text-decoration: none;
}
.lead {
  margin: 0;
}
/*----button jump end */
.navbar {
  padding: 0.8rem;
}
.navbar-toggler:hover {
  border: 1px solid#56e0a9;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-2px);
}
.navbar-toggler span {
  opacity: 1;
  background-image: url(Imgs/algae.png) !important;
}
.navbar-toggler span:hover {
  opacity: 1;
  background-image: url(Imgs/algae2.png) !important;
}
.navbar-nav li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1em !important;
  text-transform: uppercase;
  font-weight: 500;
}
.nav-link:hover {
  color: #56e0a9 !important;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}
.carousel-inner img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

ul.carousel-indicators::before,
ul.carousel-indicators::after,
ul.carousel-indicators::active {
  color: #9fb7b7;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  background: #2ee59d;
  border-radius: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 400%;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 3px #0000ff, 1px 1px 10px #2ee59d;
}
.carousel-caption h3 {
  font-family: "Sen, sans-serif;
  font-size: 200%;
  font-weight: 400;
  text-shadow: 0.5px 0.5px 3px #0000ff, 1px 1px 10px #2ee59d;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #2ee59d;
  border: 1px solid #222;
}
.btn-primary:hover {
  background-color: #a5a5a5;
  border: 1px solid #2ee59d;
}
.btn-lg:hover {
  background-color: #2ee59d;
  color: #fff;
}
.jumbotron {
  padding: 5px 0;
  border-radius: 0;
  opacity: 0.8;
}
.padding {
  padding-bottom: 1rem;
}
.welcome {
  width: 75%;
  margin: 0 auto;
}
.welcome hr {
  border-top: 2px solid #2ee59d;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.fun {
  width: 100%;
  margin-bottom: 2rem;
}
#projButton {
  text-align: center;
}
.social a {
  padding: 1rem;
}
footer {
  padding-top: 0.7rem;
}
hr.light {
  border-top: 1px solid #2ee59d;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #222;
}
div.col-12 {
  padding-bottom: 1rem;
  grid-template-rows: inherit;
  grid-gap: 20px;
}
div.card {
  margin-bottom: 30px;
}
/*.elem { max-width: 100%;} */
/*----Sprite animation 1-----*/
#anabel {
  position: absolute;
  background: url(Imgs/anabel.png);
  width: 494.8px;
  height: 700px;
  -webkit-animation: walk-east 3s steps(13) infinite;
  animation: walk-east 2s steps(13) infinite;
  opacity: 0.6;
  z-index: 1;
}

@-webkit-keyframes walk-east {
  from {
    background-position: 0px;
  }
  to {
    background-position: -6433px;
  }
}
@-webkit-keyframes walk-east {
  from {
    background-position: 0px;
  }
  to {
    background-position: -6433px;
  }
}
/*----------Sprite animation 2 ---------*/
/*
#sprite {
  background: url(Imgs/FinalSpriteBW.png);
  width: 400.3px;
  height: 700px;
  -webkit-animation: walk-eastt 5s steps(40) infinite;
  animation: walk-eastt 4s steps(40) infinite;
}

@-webkit-keyframes walk-eastt {
  from {
    background-position: 0px;
  }
  to {
    background-position: -16014px;
  }
}
@-webkit-keyframes walk-eastt {
  from {
    background-position: 0px;
  }
  to {
    background-position: -16014px;
  }
} */
/*-----shooting stars-------*/
.sky {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 20vh;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 6px #699bff);
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
  animation: tail 3000ms ease-in-out infinite,
    shooting 3000ms ease-in-out infinite;
}
.shooting_star::before,
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 255, 0),
    #5f91ff,
    rgba(0, 0, 255, 0)
  );
  -webkit-transform: translateX(50%) rotateZ(45deg);
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - 50px);
  left: calc(50% - 107px);
  -webkit-animation-delay: 4289ms;
  animation-delay: 4289ms;
}
.shooting_star:nth-child(1)::before,
.shooting_star:nth-child(1)::after,
.shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 4289ms;
  animation-delay: 4289ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - -70px);
  left: calc(50% - 206px);
  -webkit-animation-delay: 5687ms;
  animation-delay: 5687ms;
}
.shooting_star:nth-child(2)::before,
.shooting_star:nth-child(2)::after,
.shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 5687ms;
  animation-delay: 5687ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 28px);
  left: calc(50% - 51px);
  -webkit-animation-delay: 8281ms;
  animation-delay: 8281ms;
}
.shooting_star:nth-child(3)::before,
.shooting_star:nth-child(3)::after,
.shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 8281ms;
  animation-delay: 8281ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 108px);
  left: calc(50% - 291px);
  -webkit-animation-delay: 4967ms;
  animation-delay: 4967ms;
}
.shooting_star:nth-child(4)::before,
.shooting_star:nth-child(4)::after,
.shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 4967ms;
  animation-delay: 4967ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - -66px);
  left: calc(50% - 56px);
  -webkit-animation-delay: 8447ms;
  animation-delay: 8447ms;
}
.shooting_star:nth-child(5)::before,
.shooting_star:nth-child(5)::after,
.shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 8447ms;
  animation-delay: 8447ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - -13px);
  left: calc(50% - 300px);
  -webkit-animation-delay: 6969ms;
  animation-delay: 6969ms;
}
.shooting_star:nth-child(6)::before,
.shooting_star:nth-child(6)::after,
.shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 6969ms;
  animation-delay: 6969ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - 62px);
  left: calc(50% - 68px);
  -webkit-animation-delay: 2440ms;
  animation-delay: 2440ms;
}
.shooting_star:nth-child(7)::before,
.shooting_star:nth-child(7)::after,
.shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 2440ms;
  animation-delay: 2440ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - -83px);
  left: calc(50% - 259px);
  -webkit-animation-delay: 9164ms;
  animation-delay: 9164ms;
}
.shooting_star:nth-child(8)::before,
.shooting_star:nth-child(8)::after,
.shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 9164ms;
  animation-delay: 9164ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -135px);
  left: calc(50% - 226px);
  -webkit-animation-delay: 4338ms;
  animation-delay: 4338ms;
}
.shooting_star:nth-child(9)::before,
.shooting_star:nth-child(9)::after,
.shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 4338ms;
  animation-delay: 4338ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}
#AboutButton {
  margin-top: 20px;
}
/*--------scroll----*/
.scroll {
  color: #fff;
  margin-top: 100px;
}

#toTopBtn {
  position: fixed;
  bottom: 26px;
  right: 39px;
  z-index: 98;
  padding: 21px;
  background-color: #56e0a9;
}
.js .cd-top--fade-out {
  opacity: 0.5;
}

.js .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.js .cd-top {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
}
.cd-top {
  position: fixed;
  bottom: 20px;
  bottom: var(--cd-back-to-top-margin);
  right: 20px;
  right: var(--cd-back-to-top-margin);
  display: inline-block;
  height: 40px;
  height: var(--cd-back-to-top-size);
  width: 40px;
  width: var(--cd-back-to-top-size);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05) !important;
  background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg)
    no-repeat center 50%;
  background-color: #56e0a9;
  background-color: hsla(
    var(--cd-color-3-h),
    var(--cd-color-3-s),
    var(--cd-color-3-l),
    0.8
  );
}

/*------image gallery-----*/
.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}
.lead{
  font-size: 1rem !important;
  margin-left: 7vw !important;
  margin-right: 7vw !important;
}
@media (max-width: 768px) {
  body {
    padding: 0;
  }
  .container.gallery-container {
    border-radius: 0;
  }
  .carousel-indicators {
    display: none;
  }
}
/*-----fancy text------*/
.fancy {
  color: #2ee59d;
  font-size: 3rem;
  font-family: "Permanent Marker";
  text-align: center;
  text-shadow: 2px 2px #323232;
}
span {
  opacity: 0;
  transition: all 2s ease-in infinite;
  display: inline-block;
}
span.fade {
  opacity: 1;
}
/*-----boxes process ---*/
.koifish {
  background-image: url(svg/Fishy.svg);
  background-size: cover;
  z-index: 9;
}
/*---Media Queries --*/
@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 35%;
  }
  .carousel-caption h1 {
    font-size: 250%;
    font-weight: bold;
    text-shadow: 0 0 3px blueviolet, 0px 0px 5px #2ee59d;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 600;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn {
    font-size: 65%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 40%;
  }

  html {
    width: 100vw;
  }
  .carousel-caption h1 {
    font-size: 150%;
    font-weight: bold;
    text-shadow: 0 0 3px blueviolet, 0px 0px 5px #2ee59d;
  }
  .carousel-caption h3 {
    font-size: 90%;
    font-weight: 600;
    text-shadow: 0 0 5px blueviolet, 0px 0px 5px #2ee59d;
  }
  .carousel-caption .btn {
    font-size: 55%;
    padding: 4px 8px;
  }
  .carousel-caption .btn-lg {
    width: 20vw;
    height: 22px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    padding: 0;
  }
  .vines {
    display: none;
  }
  .padding {
    padding-bottom: 0.5rem;
  }
  .creative h2 {
    text-align: center;
  }
  h1.fancy {
    font-size: 1.8em !important;
  }
  #anabel {
    position: absolute;
    background: url(Imgs/anabel.png);
    width: 100vw;
    height: 700px;
    display: none;
  }
  .lead{
    font-size: 1rem !important;
    margin-left: 1vw !important;
    margin-right: 1vw !important;
  }
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url("img/mac.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
